@import './themes/prism-atom-dark.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: block;
  height: 100%;
}

li {
  @apply list-disc;
  @apply list-inside;
}

article a {
  @apply bg-blue-400;
  @apply underline;
}
h1 {
  font-size: x-large;
  font-weight: 500;
}
h2 {
  font-size: large;
  font-weight: 500;
  margin: 20px 0 10px 0;
}
p > a,
li > a {
  text-decoration: underline;
}

p {
  margin-bottom: 10px;
}

.active-link {
  color: blue;
}
